name: Build and Release

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Extract Java Version from from build.gradle
        id: extract_java_version
        run: |
          VERSION=$(gradle -q printJavaVersion)
          echo "java_version=$VERSION" >> $GITHUB_ENV

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.java_version }}

      - name: Extract Gradle Version from from build.gradle
        id: extract_gradle_version
        run: |
          VERSION=$(gradle -q printGradleVersion)
          echo "gradle_version=$VERSION" >> $GITHUB_ENV

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: ${{ env.gradle_version }}

      - name: Build with Gradle
        run: gradle clean buildPlugin --no-daemon

      - name: Extract Version from build.gradle
        id: extract_version
        run: |
          VERSION=$(gradle -q printVersion)
          if [ -z "$VERSION" ]; then
            echo "Version not found."
            exit 1
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          files: build/distributions/*.zip
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.extract_version.outputs.version }}
          release_name: Release ${{ steps.extract_version.outputs.version }}
          generate_release_notes: true
          draft: false
          prerelease: false